* {
  --red: 183, 28, 28;
  --blue:  26, 35, 126;
  --dark-brown: 62, 39, 35;
  --mid-brown: 92, 64, 55;
  --lite-brown: 121, 85, 72;
  --black: 10, 10, 10;
  --arrow: 255, 255, 255;
  --border: 0.7vh;
  --half-border: calc(var(--border) / 2);
  --face-color: 0, 0, 0;
}
.card {
  height: 19vh;
  aspect-ratio: 14 / 17;
  position: relative;
  background:
    radial-gradient(100% 100% at 50% 50%,transparent 10%, rgb(var(--lite-brown)) 11%, rgb(var(--lite-brown)) 15%, rgb(var(--dark-brown)) 16%, rgb(var(--dark-brown)) 17%, transparent 18%),
    conic-gradient(rgb(var(--blue)) 25%, rgb(var(--red)) 25%, rgb(var(--red)) 50%, rgb(var(--blue)) 50%, rgb(var(--blue)) 75%, rgb(var(--red)) 75%) 50% / 25% 25%,
    conic-gradient(from 45deg, rgb(var(--red)), transparent 1%, transparent 24.5%, rgb(var(--blue)) 25%, transparent 25.5%, transparent 49.5%, rgb(var(--red)) 50%, transparent 50.5%, transparent 74.5%, rgb(var(--blue)) 75%, transparent 75.5%, transparent 99.5%, rgb(var(--red))) 50% / 77.5% 50%,
    conic-gradient(from 45deg, rgb(var(--blue)) 1%, transparent 1.5%, transparent 23.5%, rgb(var(--red)) 24%, rgb(var(--red)) 26%, transparent 26.5%, transparent 48.5%, rgb(var(--blue)) 49%, rgb(var(--blue)) 51%, transparent 51.5%, transparent 73.5%, rgb(var(--red)) 74%, rgb(var(--red)) 76%, transparent 76.5%, transparent 98.5%, rgb(var(--blue)) 99%) 50% / 77.5% 50%,
    conic-gradient(from 22.5deg, rgb(var(--dark-brown)), transparent 0.5%, transparent 12%, rgb(var(--dark-brown)) 12.5%, transparent 13%, transparent 24.5%, rgb(var(--dark-brown)) 25%, transparent 25.5%, transparent 37%, rgb(var(--dark-brown)) 37.5%, transparent 38%, transparent 49.5%, rgb(var(--dark-brown)) 50%, transparent 50.5%, transparent 62%, rgb(var(--dark-brown)) 62.5%, transparent 63%, transparent 74.5%, rgb(var(--dark-brown)) 75%, transparent 75.5%, transparent 87%, rgb(var(--dark-brown)) 87.5%, transparent 88%, transparent 99.5%, rgb(var(--dark-brown))) 50% / 80% 75%,
    linear-gradient(45deg, rgb(var(--lite-brown)) 20%, transparent 0%) 50% / 100% 100%,
    linear-gradient(-45deg, rgb(var(--lite-brown)) 20%, transparent 0%) 50% / 100% 100%,
    linear-gradient(135deg, rgb(var(--lite-brown)) 20%, transparent 0%) 50% / 100% 100%,
    linear-gradient(-135deg, rgb(var(--lite-brown)) 20%, transparent 0%) 50% / 100% 100%,
    linear-gradient(45deg, rgb(var(--lite-brown)) 20%, transparent 10%) -35% 11% / 50% 50%,
    linear-gradient(135deg, rgb(var(--lite-brown)) 20%, transparent 10%) -35% 90% / 50% 50%,
    linear-gradient(-45deg, rgb(var(--lite-brown)) 20%, transparent 10%) 135% 11% / 50% 50%,
    linear-gradient(-135deg, rgb(var(--lite-brown)) 20%, transparent 10%) 135% 90% / 50% 50%,
    conic-gradient(from 0deg, rgb(var(--red)), transparent 0.5%, transparent 24.5%, rgb(var(--blue)) 25%, transparent 25.5%, transparent 49.5%, rgb(var(--blue)) 50%, transparent 50.5%, transparent 74.5%, rgb(var(--red)) 75%, transparent 75.5%, transparent 99.5%, rgb(var(--red))) 50% / 100% 100%,
    conic-gradient(from 0deg, rgb(var(--blue)) 1%, transparent 1.5%, transparent 23.5%, rgb(var(--red)) 24%, rgb(var(--red)) 26%, transparent 26.5%, transparent 48.5%, rgb(var(--red)) 49%, rgb(var(--red)) 51%, transparent 51.5%, transparent 73.5%, rgb(var(--blue)) 74%, rgb(var(--blue)) 76%, transparent 76.5%, transparent 98.5%, rgb(var(--blue)) 99%) 50% / 100% 100%,
    radial-gradient(100% 100% at 50% 50%, rgb(var(--mid-brown)) 39%, rgb(var(--dark-brown)) 40%, rgb(var(--dark-brown)) 41%, transparent 42%),
    rgb(var(--lite-brown));
  background-repeat: no-repeat;
  border: var(--border) solid rgb(var(--dark-brown));
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(89,89,89,1);
  transition: all 200ms;
  transform-style: preserve-3d;
}
.card.red {
  --face-color: 85, 0, 0;
}
.card.blue {
  --face-color: 0, 0, 85;
}
.card.green {
  --face-color: 0, 85, 0;
}
.card.silver {
  --face-color: 85, 85, 85;
}
.card.gold {
  --face-color: 85, 68, 17;
}
.card.stacked {
  --mar-top:  -12.2vh;
  --mar-left: initial;
  margin-top: var(--mar-top);
  margin-left: var(--mar-left);
  transform: rotateY(180deg);
}
.card.stacked:before {
  color: transparent;
  text-shadow: none;
}
.card.play {
  --top: initial;
  --left: initial;
  --pos: relative;
  position: var(--pos);
  top: var(--top);
  left: var(--left);
  z-index: 1;
}
.card.stacked.play {
  --mar-left: 5vw;
  z-index: initial;
}
.card:before {
  content: attr(data-value);
  position: absolute;
  backface-visibility: hidden;
}
.card:before {
  top: calc(0px - var(--border));
  bottom: calc(0px - var(--border));
  left: calc(0px - var(--border));
  right: calc(0px - var(--border));
  border-radius: 5px;
  background:
    conic-gradient(from 180deg, rgb(var(--face-color)) 12.5%, transparent 13%, transparent 87%, rgb(var(--face-color)) 87.5%) 43% calc(100% + 2px) / 17.5% 11%,
    conic-gradient(from 180deg, rgb(var(--face-color)) 12.5%, transparent 13%, transparent 87%, rgb(var(--face-color)) 87.5%) 57% calc(100% + 2px) / 17.5% 11%,
    conic-gradient(from 0deg, rgb(var(--face-color)) 12.5%, transparent 13%, transparent 87%, rgb(var(--face-color)) 87.5%) 43% -2px / 17.5% 11%,
    conic-gradient(from 0deg, rgb(var(--face-color)) 12.5%, transparent 13%, transparent 87%, rgb(var(--face-color)) 87.5%) 57% -2px / 17.5% 11%,
    conic-gradient(from 90deg, rgb(var(--face-color)) 12.5%, transparent 13%, transparent 87%, rgb(var(--face-color)) 87.5%) calc(100% + 3px) 45% / 17.5% 11%,
    conic-gradient(from 90deg, rgb(var(--face-color)) 12.5%, transparent 13%, transparent 87%, rgb(var(--face-color)) 87.5%) calc(100% + 3px) 55% / 17.5% 11%,
    conic-gradient(from -90deg, rgb(var(--face-color)) 12.5%, transparent 13%, transparent 87%, rgb(var(--face-color)) 87.5%) -4px 45% / 17.5% 11%,
    conic-gradient(from -90deg, rgb(var(--face-color)) 12.5%, transparent 13%, transparent 87%, rgb(var(--face-color)) 87.5%) -4px 55% / 17.5% 11%,
    linear-gradient(0deg, rgba(var(--face-color),0.5), rgba(var(--face-color),0.5)),
    white;
  background-repeat: no-repeat;
  border: var(--border) solid rgb(var(--face-color));
  line-height: 30vh;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  color: #ffa000;
  font-style: italic;
  text-shadow: 1px 1px black,
    -1px -1px black,
    1px -1px black,
    -1px 1px black;
}
.card .arrow {
  --arrow-size: 0.8vh;
  height: 0;
  width: 0;
  border: var(--arrow-size) solid transparent;
  position: absolute;
  backface-visibility: hidden;
}
.card .arrow:before {
  content: "";
  position: absolute;
  border-width: var(--arrow-size);
  border-style: solid;
  border-color: transparent;
  backface-visibility: hidden;
}
.card .arrow:nth-child(1) {
  border-top-color: rgb(var(--black));
  border-left-color: rgb(var(--black));
  top: -2px;
  left: -2px;
}
.card .arrow:nth-child(1):before {
  border-top-color: rgb(var(--arrow));
  border-left-color: rgb(var(--arrow));
  border-width: calc(var(--arrow-size) * 0.7);
  top: calc(0px - var(--arrow-size) * 0.8);
  left: calc(0px - var(--arrow-size) * 0.8);
}
.card .arrow:nth-child(2) {
  border-bottom-color: rgb(var(--black));
  border-width: calc(var(--arrow-size) * 1.4);
  top: calc(0px - var(--arrow-size) * 1.5);
  left: calc(50% - var(--arrow-size) * 1.4);
}
.card .arrow:nth-child(2):before {
  border-bottom-color: rgb(var(--arrow));
  top: calc(0px - var(--arrow-size) * 0.77);
  left: calc(50% - var(--arrow-size) * 0.9);
}
.card .arrow:nth-child(3) {
  border-top-color: rgb(var(--black));
  border-right-color: rgb(var(--black));
  top: -2px;
  right: -2px;
}
.card .arrow:nth-child(3):before {
  border-top-color: rgb(var(--arrow));
  border-right-color: rgb(var(--arrow));
  border-width: calc(var(--arrow-size) * 0.7);
  top: calc(0px - var(--arrow-size) * 0.8);
  left: calc(0px - var(--arrow-size) * 0.6);
}
.card .arrow:nth-child(4) {
  border-left-color: rgb(var(--black));
  border-width: calc(var(--arrow-size) * 1.4);
  top: calc(50% - var(--arrow-size) * 1.4);
  right: calc(0px - var(--arrow-size) * 1.4);
}
.card .arrow:nth-child(4):before {
  border-left-color: rgb(var(--arrow));
  top: calc(50% - var(--arrow-size) * 0.9);
  left: calc(0px - var(--arrow-size) * 1.05);
}
.card .arrow:nth-child(5) {
  border-bottom-color: rgb(var(--black));
  border-right-color: rgb(var(--black));
  bottom: -2px;
  right: -2px;
}
.card .arrow:nth-child(5):before {
  border-bottom-color: rgb(var(--arrow));
  border-right-color: rgb(var(--arrow));
  border-width: calc(var(--arrow-size) * 0.7);
  top: calc(0px - var(--arrow-size) * 0.6);
  left: calc(0px - var(--arrow-size) * 0.6);
}
.card .arrow:nth-child(6) {
  border-top-color: rgb(var(--black));
  border-width: calc(var(--arrow-size) * 1.4);
  bottom: calc(0px - var(--arrow-size) * 1.5);
  left: calc(50% - var(--arrow-size) * 1.4);
}
.card .arrow:nth-child(6):before {
  border-top-color: rgb(var(--arrow));
  top: calc(0px - var(--arrow-size));
  left: calc(50% - var(--arrow-size) * 0.9);
}
.card .arrow:nth-child(7) {
  border-bottom-color: rgb(var(--black));
  border-left-color: rgb(var(--black));
  bottom: -2px;
  left: -2px;
}
.card .arrow:nth-child(7):before {
  border-bottom-color: rgb(var(--arrow));
  border-left-color: rgb(var(--arrow));
  border-width: calc(var(--arrow-size) * 0.7);
  top: calc(0px - var(--arrow-size) * 0.6);
  left: calc(0px - var(--arrow-size) * 0.8);
}
.card .arrow:nth-child(8) {
  border-right-color: rgb(var(--black));
  border-width: calc(var(--arrow-size) * 1.4);
  bottom: calc(50% - var(--arrow-size) * 1.4);
  left: calc(0px - var(--arrow-size) * 1.5);
}
.card .arrow:nth-child(8):before {
  border-right-color: rgb(var(--arrow));
  top: calc(50% - var(--arrow-size) * 0.9);
  left: calc(0px - var(--arrow-size) * 0.77);
}
