
.icon-weapon:before { content: '\e800'; } /* '' */
.icon-spell:before { content: '\e801'; } /* '' */
.icon-ship:before { content: '\e802'; } /* '' */
.icon-monster:before { content: '\e803'; } /* '' */
.icon-misc:before { content: '\e804'; } /* '' */
.icon-castle:before { content: '\e805'; } /* '' */
.icon-chocobo:before { content: '\e806'; } /* '' */