<div>
  <div class="gridContain">
    <table class="grid">
      <tr class="cardGrid">
        <td class="cardGrid 0">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 10">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 20">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 30">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 40">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 50">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 60">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 70">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 80">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 90">
          <div class="cardGridcont"></div>
        </td>
      </tr>
      <tr class="cardGrid">
        <td class="cardGrid 1">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 11">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 21">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 31">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 41">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 51">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 61">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 71">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 81">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 91">
          <div class="cardGridcont"></div>
        </td>
      </tr>
      <tr class="cardGrid">
        <td class="cardGrid 2">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 12">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 22">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 32">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 42">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 52">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 62">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 72">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 82">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 92">
          <div class="cardGridcont"></div>
        </td>
      </tr>
      <tr class="cardGrid">
        <td class="cardGrid 3">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 13">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 23">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 33">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 43">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 53">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 63">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 73">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 83">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 93">
          <div class="cardGridcont"></div>
        </td>
      </tr>
      <tr class="cardGrid">
        <td class="cardGrid 4">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 14">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 24">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 34">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 44">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 54">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 64">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 74">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 84">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 94">
          <div class="cardGridcont"></div>
        </td>
      </tr>
      <tr class="cardGrid">
        <td class="cardGrid 5">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 15">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 25">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 35">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 45">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 55">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 65">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 75">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 85">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 95">
          <div class="cardGridcont"></div>
        </td>
      </tr>
      <tr class="cardGrid">
        <td class="cardGrid 6">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 16">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 26">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 36">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 46">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 56">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 66">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 76">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 86">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 96">
          <div class="cardGridcont"></div>
        </td>
      </tr>
      <tr class="cardGrid">
        <td class="cardGrid 7">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 17">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 27">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 37">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 47">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 57">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 67">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 77">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 87">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 97">
          <div class="cardGridcont"></div>
        </td>
      </tr>
      <tr class="cardGrid">
        <td class="cardGrid 8">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 18">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 28">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 38">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 48">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 58">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 68">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 78">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 88">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 98">
          <div class="cardGridcont"></div>
        </td>
      </tr>
      <tr class="cardGrid">
        <td class="cardGrid 9">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 19">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 29">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 39">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 49">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 59">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 69">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 79">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 89">
          <div class="cardGridcont"></div>
        </td>
        <td class="cardGrid 99">
          <div class="cardGridcont"></div>
        </td>
      </tr>
    </table>
    <ul>
      <li class="cCount">Stock: <span>0</span></li>
      <li class="type">Type: <span>0</span></li>
    </ul>
  </div>
  <div class="playerInfo">
    <ul>
      <li class="collectorLvl">Collector <span>LV</span>: <span class="wld">1700p</span>
        <span class="rank">Beginner</span></li>
      <hr />
      <li class="wins">Wins:<span class="wld">0 </span></li>
      <li class="losses">Losses:<span class="wld">0 </span></li>
      <li class="draws">Draws:<span class="wld">0 </span></li>
    </ul>
  </div>
  <div class="cardInfo">
  </div>
  <div class="tempHand"></div>
  <div class="buttons">
    <ul>
      <li class="menu">Menu</li>
      <li class="reload">Reload</li>
    </ul>
  </div>
</div>